.TopNav{
    background-color: white;
    overflow: hidden;
    padding: 1%;
}
nav{
    -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
    -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
    box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
}
.TopNav a {
    float: right;
    color: black;
    text-align: center;
    padding:10px;
    text-decoration: none;
    font-size: 14px;
  }
  .h1{
      color: white;
      padding: 1%;
      margin:2%;
  }
  .logo{
    float: left;
    position: relative;
    padding: 10px;
    margin: 1px 1px 1px 1px;
}
.logo span{
    color: tomato;
}
 .p span{
    font-size: larger;
    color: black;
}
.container {
   overflow: hidden;
}
  .p{
      color: white;
      padding: 3%;
      margin-top: 2%;
      margin-bottom: 4%;
  }
  .main{
      background-image:url(./image/back1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      float: none;
      text-align: center;
      font-size: 14px;
      height: 120%;
      width: 100%;
      padding: 140px 100px; 
  }
  /*design of the Icons */
  .fa-facebook{
     color:gray;
     padding: 2%;
     margin-top: 5%;
     margin-bottom: auto;
     font-size: 40px;
     text-decoration: none;
     position: relative;
  }
  .fa-facebook:hover{
     color: #FFA346;
  }
  .fa-twitter-square{
    color:gray;
    position: relative;
     padding: 2%;
     margin-top: 5%;
     margin-bottom: auto;
     text-decoration: none;
     font-size: 40px;
  }
  .fa-twitter-square:hover{
      color: #FFA346;
  }
  .fa-instagram-square{
    color: gray;
    position: relative;
     padding: 2%;
     margin-top: 5%;
     margin-bottom: auto;
     text-decoration: none;
     font-size: 40px;
  }
  .fa-instagram-square:hover{
      color: #FFA346;
  }
  .fa-behance-square{
    color: gray;
    padding: 2%;
    position: relative;
    margin-top: 5%;
    margin-bottom: auto;
    text-decoration: none;
    font-size: 40px;
  }
  .fa-behance-square:hover{
      color: #FFA346;
  }
.fa-brands .icons{
    font-size: 10px;
    line-height: 40px;
}
.fa-brands i ::after {
  content: '';
  width: 100%;
  height: 100%;
  top: -90;
  left: 0;
  background: linear-gradient(-45deg,#ed1c94,#ffec17);
  position: relative;
}
 /*Design of the About Page*/
img{
    border-radius: 50%;
    text-align: center;
    margin: 12%;
    font-size: 80px;
}

.main2{
    background-color: FEFEFE;
}
.p{
    color: white;
    font-size: 10px;
}
button{
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    width: 30%;
    margin: 25px;
}

.section1{
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
div {
    margin: auto;
}
.content{
    float: right;
    margin-top: auto;
    position: relative;
    top: 0px;
    align-items: center;
}
.main2{
    display: flex;
    width: 80%;
}
.AboutImage{
     width: 40%;
}
.content{
    width: 60%;
}
/* css of the service page*/
i{
  background-color: rgb(248, 244, 244);
  border-radius: 50%;
  border: none;
  padding: 20px;
  font-size: 30px;
}
.div3:after {
    content: "";
    display: table;
    clear: both;
  }
  .colon {
    float: left;
    width: 33.33%;
  }
  .container2{
      justify-items: center;
      text-align: center;
  }
  .div2{
      width: 50%;
      text-align: center;
  }
  .size{
      font-size: 24px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .size2{
      font-size: 15px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: gray;
  }
  /*css for Works*/
.div4::after{
    content: "";
    display: table;
    clear: both;
}
.colon-work{
    float: left;
    width: 33.33%;
}
.work-img{
    width: 80%;
}
/*Design of the contact page*/
*{
    box-sizing: border-box;
  }
  body{
      background-color: white;
  }
  .container{
    background-color: white;
  }
  .column {
    float: left;
    padding: 10px;
    height: auto;
  }
  
  .left {
    width: 60%;
  }
  
  .right {
    width: 40%;
    border-left: 2px rgb(113, 111, 111) solid;
  }
  .row {
      width: 80%;
      margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */
      background-color: white;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
  }
  .name-input {
      border:none;
      border-bottom: 2px rgb(67, 65, 65) solid;
      background-color: transparent;
      padding: 10px;
  }
  .name1 {
      display: flex;
  }
  .lt-mag {
      margin-left: 15px;
  }
  .max {
      width: 80%;
  }
  .para {
      width: 70%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  h1 {
      font-size: 42px;
  }
  h3 {
      font-size: 28px;
  }
  button {
      margin-top: 20px;
      padding: 10px;
      background-color: rgb(20, 20, 20);
      border: none;
  }
  button:hover {
      background-color: coral;
  }
  .mg-left{
      margin-left: 20px;
  }
  .text-contact{
      color: rgb(196, 189, 189);
      font-size: 15px;
    }
    .hello{
        color:  rgb(196, 189, 189);
        font-size: 15px;
        padding: 50px;
    }
   /*Testimonial*/
   .texts{
       color: rgb(160, 157, 157);
       text-align: center;
   }
   .h3{
       color: rgb(22, 22, 22);
       text-align: center;
   }
   .h-1{
       text-align: center;
       color: rgb(59, 59, 59);
       margin: 100px;
   }
   .section1{
       background-color: rgb(252, 249, 249);
   }